*.asv
*.mat
*.csv

!/Experiments/OT_Delay/hyperparameter-optimization.csv
*.pickle
Utilities/.ipynb_checkpoints/pickle_to_mat-checkpoint.ipynb
Experiments/OT_Delay/dataset/airline.pickle.zip
Experiments/OT_Delay/.ipynb_checkpoints/test_OT_Delay_2-checkpoint.m
